<?xml version="1.0"?>

<model>
  <name>TurtleBot3 Burger (tb3_3)</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>RA-L</name>
    <email>none@example.com</email>
  </author>
  <description>
    Wrapper model with ROS namespace /turtlebot3_3
  </description>
</model>







